<div class="find-pet-block">
  <h2>View My PetSafe Booking</h2>

  <div class="pet-form-holder">
    <div class="row">
      <div class="col-xs-12 col-sm-5 col-md-3">
        <mcf-input [placeholder]="'myemail@email.com'" [label]="'Email Address'" #inputOne></mcf-input>
      </div>
      <div class="col-xs-12 col-sm-5 col-md-3">
        <mcf-input [placeholder]="'888 -888 -8'" [label]="'Booking Reference Number'" #inputOne></mcf-input>
      </div>
      <div class="col-xs-12 col-sm-2 col-md-3">
        <div class="mcf__label mcf__label"> &nbsp;</div>
        <button class="mcf__btn -state-primary">Search</button>
      </div>
    </div>
  </div>
</div>

<acl-search-results></acl-search-results>
