<h2>I want to send my</h2>
<ul>
  <li>
    <div>
      <i class="icon dog"></i>
      <p>DOG</p>
    </div>
  </li>
  <li>
    <div>
      <i class="icon cat"></i>
      <p>CAT</p>
    </div>
  </li>
  <li>
    <div>
      <i class="icon bird"></i>
      <p>BIRD</p>
    </div>
  </li>
  <li>
    <div class="other">
      <i class="icon other"></i>
      <p>
        <mcf-select mcfClass="other" [items]="cars" [closeOnSelect]="true" [clearable]="false" [bindLabel]="'name'"
          [bindValue]="'id'" [(ngModel)]='value'>
        </mcf-select>
      </p>
    </div>
  </li>
</ul>


<!-- Pet Details -->
<h2>Pet Details</h2>
<div class="row">
  <div class="col-xs-12 col-sm-5 col-md-3">
    <mcf-input [placeholder]="'Duke'" [label]="'Name (optional)'" #inputOne></mcf-input>
  </div>
  <div class="col-xs-12 col-sm-5 col-md-3">
    <div class="mcf__label "> Breed</div>
    <mcf-select [items]="cars" [closeOnSelect]="true" [clearable]="false" [bindLabel]="'name'" [bindValue]="'id'"
      [(ngModel)]='value'>
    </mcf-select>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-5 col-md-3">
    <div class="mcf__label "> Age</div>
    <mcf-datetime [options]="myOptions04" [enableClearButton]="true" [icon]='"acf_icon_date_picker"'
      placeholder="Please select date">
    </mcf-datetime>
  </div>

  <div class="col-xs-12 col-sm-5 col-md-3">

    <mcf-value-selector id='valueSelector' [config]="valueConfig" [(value)]='val' (onChange)="onValueChange($event)">
    </mcf-value-selector>
    </mcf-value-selector>
  </div>



  <div class="col-xs-12 col-sm-2 col-md-3">
    <div class="mcf__label mcf__label"> &nbsp;</div>
    <button class="mcf__btn -state-primary">Search</button>
  </div>
</div>
