$brand-primary: orange;
$brand-secondary: green;
$brand-grey: #667380;
$brand-tool-color: #435663;
$brand-tool-color-light: #fff;
$brand-danger: #fc0d1b;
$brand-warning: #fd8224;
$brand-success: #99d529;
$brand-default: #d5d5d5;
$brand-default-text: #000;
$brand-light: #f4f4f4; //727d89
$brand-dark: #222;
$brand-transparent: rgba(0, 0, 0, 0);
$brand-background-color: #e6e6e6;
$font-family-base: "Roboto",
sans-serif;
$font-size-base: 1.6rem; // 1.4rem == 14px

// 
$brandblue: #003399
